/*
  Master CSS Styles
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

/*
  Main Structure
*/

body
{
  position: relative;
  font-family: 'Open Sans', Tahoma, sans-serif;
  background: #fafafa;
  color: #656e7f;
  height: 100%;
}

html
{
  height: 100%;
}

body.login
{
  position: relative;
  font-family: 'Open Sans', Tahoma, sans-serif;
  background: #f0f1f3;
  color: #656e7f;
}

body.minimal
{
  position: relative;
  font-family: 'Open Sans', Tahoma, sans-serif;
  background: #fff;
  color: #656e7f;
  padding: 20px 0px 0px 0px;
}

/* Header */

.main-header
{
  position: relative;
  padding: 20px 0px;
  z-index: 600;
  background: #304d89;
  box-shadow: 0px 5px 25px rgba(0,0,0,0.3);
}

.main-header .main-logo
{
  z-index: 9999;
  position: relative;
}

.main-header .dc-logo
{
  float: right;
  z-index: 9999;
  position: relative;
}

.main-header .loggedin
{
  color: #fff;
  margin-right: 10px;
}

.nexmo-balance
{
  color: #fff;
  text-align: right;
  border-top: 1px dotted #fff;
  padding-top: 12px;
  margin-top: 14px;
}

.nexmo-balance > span
{
  font-size: 18px;
  margin-right: 10px;
}

/* Main Nav */

.main-nav
{
  position: relative;
  padding: 0px 0px 0px 0px;
  margin-right: -30px;
  z-index: 600;
  overflow: hidden;
}

.main-nav ul
{
  width: 100%;
  list-style: none;
  padding: 0px 0px 2px 2px;
  margin: 20px 0px 0px 0px;
  font-size: 14px;
  overflow: hidden;
}

.main-nav ul .fa
{
  display: block;
  text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
}

.main-nav ul > li
{
  margin: 0px;
  padding: 0px;
}

.main-nav ul > li a
{
  margin: 0px 0px 0px 0px;
  padding: 15px 0px;
  width: 100%;
  display: block;
  font-size: 15px;
  display: block;
  color: #a9b4b4;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.main-nav ul > li a:hover
{
  background: #f1f1f1;
  text-decoration: none;
  color: #333;
}

.main-nav ul > li.active a
{
  background: #fff;
  color: #333;
  text-decoration: none;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.navbar-collapse
{
  padding: 0px;
}

.navbar-toggle
{
  border: 1px solid #fff;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0px;
  font-size: 25px;
}

/*
  Generic Styles
*/

/* Layout */

.page
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-content
{
  background: #fff;
  min-height: 300px;
  z-index: 500;
  padding: 30px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.top-bar
{
  padding: 5px 0px;
}

.loading-overlay
{
  position: absolute;
  z-index: 9999;
  background: rgba(255,255,255,.4);
  height: 100%;
  width: 100%;
}

.loading-overlay .loading
{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.08);
  border-radius: 10px;
}

.module
{
  border: 1px solid #f1f1f1;
  padding: 20px;
}

.row + .row
{
  margin-top: 30px;
}

/* Typography */

h1
{
  font-size: 36px;
  font-weight: 400;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: #304d89;
}

.login-block h1
{
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

h2
{
  color: #333;
  font-size: 25px;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  display: block;
}

.module h2
{
  border-bottom: 1px solid #f1f1f1;
}

.panel-body h2
{
  color: #333;
  font-size: 25px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: block;
  font-style: italic;
}

h3
{
  color: #333333;
  font-size: 20px;
  line-height: 150%;
  margin: 0px 0px 5px 0px;
}

h4
{
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 5px 0px;
}

.badge
{
  text-transform: capitalize;
}

p,ul,ol
{
  font-size: 15px;
  line-height: 150%;
  color: #565a5c;
}

table p
{
  margin-bottom: 0px;
}

p.validation-msg
{
  color: red;
  font-size: 13px;
}

.back-link
{
  margin-bottom: 15px;
  display: inline-block;
  font-size: 15px;
}

/* Forms */

.form-control
{
  margin-bottom: 10px;
  font-size: 20px;
}

.message-response
{
  margin: 10px 0px 0px 0px;
}

/* Buttons */

.btn
{
  text-align: center;
  font-weight: 600;
}

.btn-lg
{
  font-size: 25px;
}

.btn-primary
{
  color: #fff;
}

/* Tables */

thead 
{
  font-weight: bold;
  font-size: 15px;
}

/* Pie Chart */

.pie-legend
{
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.pie-legend li
{
  margin-bottom: 5px;
  line-height: 20px;
}

.pie-legend span
{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  display: block;
  float: left;
  margin-right: 10px;
}


/*
  Page Specific Styles
*/

/* Dashboard */

.group-select
{
  list-style: none;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.group-select li
{
  margin: 0px 0px 10px 0px;
}

.group-select .btn-lg
{
  text-align: left;
}

.group-select .btn-lg .fa
{
  margin-top: 5px;
}

.group-select li:last-child a
{
  margin-bottom: 0px;
}

.group-select .sub-menu
{
  display: none;
  margin: 10px 0px 0px 0px;
  padding: 10px 10px;
  list-style: none;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.group-select .sub-menu li
{
  margin: 5px 0px;
}

.group-select .sub-menu li label
{
  display: block;
  padding-top: 2px;
  margin: 0px;
  border: 1px solid #f1f1f1;
  padding: 4px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.group-select .sub-menu li label.checked
{
  background: #f1f1f1;
}

/* Login Page */

.login .main-logo
{
  margin: 35px auto;
  display: block;
}

.login-block
{
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Messages */

.default-messages
{
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

.default-messages li
{
  display: inline-block;
  margin-right: 10px;
}







