/*
  Mobile Styles
*/
/* Smaller Monitors */
@media (min-width: 993px) and (max-width: 1200px) {

  .main-nav.navbar a
  {
    padding: 5px 8px;
    margin-top: 5px;
    font-size: 13px;
  }

}

/* Tablet - Portrait (768px) */
@media (max-width: 992px){
  html
  {
    height: 100%;
    height: auto;
    max-width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  body
  {
    position: relative;
    height: 100%;
    height: auto;
    max-width: 100%;
  }

  /* Footer */
  .footer p
  {
    color: #fff;
    font-size: 12px;
  }

  .footer .copyright
  {
    text-align: right;
  }

}

/* Mobile Phone - Landscape (480px) */
@media (min-width: 480px) and (max-width: 767px) 
{
  
  body
  {
    background: #fff;
  }

  .navbar-collapse
  {
    z-index: 9999;
    padding: 0px;
  }
    
  .main-nav-container
  {
    z-index: 9999;
    overflow: visible;
  }

  .main-nav
  {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 0px!important;
    font-size: 14px;
  }

  .main-nav ul
  {
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }

  .main-nav ul > li
  {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  .main-nav ul > li a
  {
    border-radius: 3px;
  }

  .main-nav ul > li.active a
  {
    border: 1px solid #ccc;
  }

  .main-content
  {
    background: #fff;
    box-shadow: none;
    padding: 0px;
  }

}

/* Mobile Phone - Portrait (320px) */
@media (max-width: 480px) {

  body
  {
    background: #fff;
  }

  .navbar-collapse
  {
    z-index: 9999;
    padding: 0px;
  }
    
  .main-nav
  {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 0px!important;
    font-size: 14px;
  }

  .main-nav ul
  {
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }

  .main-nav ul > li
  {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  .main-nav ul > li a
  {
    border-radius: 3px;
  }

  .main-nav ul > li.active a
  {
    border: 1px solid #ccc;
  }

  .main-content
  {
    background: #fff;
    box-shadow: none;
    padding: 0px;
  }
  
}

